.sidebar{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    min-height: calc(100vh - 81px);
    box-sizing: border-box;
    &__box{
        display: flex;
        flex-direction: column;
    }
    &__left{
        padding: 100px 0;
        min-width: 400px;
        border-right: 1px solid #0f0f0f;
    }
    &__right{
        padding: 100px 0;
        width: calc(100% - 420px);
        box-sizing: border-box;
    }
    &__link{
        width: calc(100% - 100px);
        box-sizing: border-box;
        padding: 10px 20px;
        border-radius: 10px;
        background: transparent;
        color: #fff;
        transition: .2s;
        &.active{
            background: #fff;
            color: #0f0f0f;
        }
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
}